.footer {
  &__h2 {
    align-self: center;
    text-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    font-family: MyriadPro;
    font-size: 54px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  &__bacground {
    background: url("/img/intro/stars.jpg") no-repeat 100%/cover;
    min-height: 321px;
    margin: 77px 0 0;
    padding: 37px 0 0;
    background-color: $footer-bg;
  }


  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {}

  &__descr {
    width: 594px;
    margin-top: 21px;
    opacity: 0.8;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: $text-secod;


  }

  &__descr-span {
    width: 594px;
    margin-top: 21px;

    font-family: HelveticaNeue;

    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: $text-secod;
    font-size: 16px;
    font-weight: 400;

    a {
      font-family: HelveticaNeue;

      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: $text-secod;
      font-size: 16px;
      font-weight: 400;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  &__sotial {
    margin-top: 28px;
    width: 263px;
    height: 38px;
    display: flex;
    justify-content: space-between;

    // opacity: 0.15;
    // border: solid 1px $border-color;
    // background-color: #e5e5e5;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__menu-bacground {
    min-height: 60px;


    background-color: $footer-menu-bg;
  }

  &__menu {
    display: flex;
    justify-content: center;
    height: 60px;
  }

  &__item-wrapper {
    align-self: center;
  }
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  z-index: 10;
}
