.services {
  &__close {
    position: absolute;
    font-size: 48px;
    color: $slider-arrow;
    line-height: 21px;
    font-weight: bold;
    cursor: pointer;
    z-index: 15;
    top: 5px;
    right: 5px;
    color: $main;
  }

  &__slider-h2 {
    display: block;
    margin: 0 auto;
    width: auto;
    margin-top: 61px;
    font-family: MyriadPro;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333;
  }

  &__backgrounds {
    min-height: 1129px;

  }

  &__works {
    margin-top: 61px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  // &__like {
  //   display: block;
  //   margin: 0 auto;
  //   margin-top: var(--services-like-mt);
  //   // margin-top: 435px;
  //   font-family: HelveticaNeue;
  //   font-size: 18px;
  //   font-weight: normal;
  //   font-stretch: normal;
  //   font-style: normal;
  //   line-height: 1.11;
  //   letter-spacing: normal;
  //   // color: $like;
  //   text-align: center;
  //   text-transform: uppercase;

  //   &:hover {
  //     svg path {
  //       fill: red;

  //     }
  //   }
  // }


  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__h3 {
    width: 242px;
    font-family: MyriadPro;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $services-h3;
  }

  &__button {
    margin-top: 38px;
    width: 211px;
    height: 52px;
    padding: 8px 22px 8px;
    border-radius: 2px;
    background-color: $main;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: $text-secod;
    box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 12%);
    border: none;
    background-image: linear-gradient(to top, $main, #6982f5);
    text-transform: uppercase;
    text-shadow: 0.7px 0.7px 0 rgb(0 0 0 / 21%);
    animation: heartBeat 4s ease infinite;
    animation-delay: 2s;

    // animation-name: heartBeat 2s ease infinite
    // animation-duration: 2s
    // animation-iteration-count: infinite
    &:hover {
      animation-play-state: paused;
    }
  }

  &__descr {
    width: 610px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $services-descr;
  }

  &__hr {
    margin-top: 57px;
    width: 100%;
    height: 1px;
  }

  &__h2 {
    display: block;
    margin: 0 auto;
    width: auto;
    margin-top: 61px;
    font-family: MyriadPro;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $services-h3;
  }

  &__service-wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;


  }

  &__service-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 77%;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px;
    z-index: 20;

    // background: url("/img/services/cosmic_tree.jpg") no-repeat 100%/cover;
    // background-position: left top;
    &-btn {
      display: block;
      margin: 0 auto;
      margin-top: 30px;

    }

    &-descr {
      margin-top: 20px;
      font-family: HelveticaNeue;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #666;
    }

    &-name {
      margin-top: 14px;
      font-family: MyriadPro;
      font-size: 25px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: normal;
      text-align: center;
      color: $services-h3;
      text-transform: uppercase;
    }

    &_leftimg {
      float: left;
      /* Выравнивание по левому краю */
      margin: 7px 33px 7px 0;
      /* Отступы вокруг картинки */
      width: 400px;
    }

    &_rightimg {
      float: right;
      /* Выравнивание по правому краю  */
      margin: 7px 0 7px 33px;
      /* Отступы вокруг картинки */
      width: 400px;
    }

    &_head-img {
      width: 100%;
    }

    img {
      // width: 100%;
      // height: 220px;
      object-fit: cover;
    }
  }

  &__service-block {
    width: 300px;

    // img {
    //   width: inherit;
    //   height: 220px;
    //   object-fit: cover;
    // }
  }

  &__service-img {
    width: inherit;
    height: 220px;
    object-fit: cover;
  }

  &__service-block-news {
    width: 400px;

    img {
      width: inherit;
      height: 266px;
      object-fit: cover;
    }

    span {
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__service-name {
    width: inherit;
    margin-top: 14px;
    font-family: MyriadPro;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: $services-h3;
    text-transform: uppercase;
  }

  &__service-descr {
    width: inherit;
    margin-top: 20px;
    // margin-bottom: 40px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $services-descr;
    // cursor: pointer;

    // span {
    //   font-size: 16px;
    //   font-weight: bold;
    //   cursor: pointer;
    // }
  }

  &__know-more {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 40px;
    width: inherit;
    font-family: HelveticaNeue;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $main;
  }

  // &__service-like {
  //   width: inherit;
  //   display: block;
  //   margin: 0 auto;
  //   margin-top: 13px;
  //   margin-bottom: 15px;
  //   font-family: HelveticaNeue;
  //   font-size: 18px;
  //   font-weight: normal;
  //   font-stretch: normal;
  //   font-style: normal;
  //   line-height: 1.11;
  //   letter-spacing: normal;
  //   color: $like;
  //   text-align: center;
  //   text-transform: uppercase;

  //   &:hover {
  //     svg path {
  //       fill: red;

  //     }
  //   }
  // }
}

.news__close {
  position: absolute;
  font-size: 48px;
  color: $slider-arrow;
  line-height: 21px;
  font-weight: bold;
  cursor: pointer;
  z-index: 15;
  top: 5px;
  right: 5px;
  color: $main;
}

.test {
  z-index: 50;
}
