.services {
  &__slider-h2 {
    display: block;
    margin: 0 auto;
    width: auto;
    margin-top: 88px;
    font-family: MyriadPro;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333;
  }

  &__backgrounds {
    min-height: 1129px;

  }

  &__works {
    margin-top: 61px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__like {
    display: block;
    margin: 0 auto;
    margin-top: var(--services-like-mt);
    // margin-top: 435px;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: $like;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      svg path {
        fill: red;

      }
    }
  }


  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__h3 {
    width: 242px;
    font-family: MyriadPro;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $services-h3;
  }

  &__button {
    margin-top: 38px;
    width: 211px;
    height: 36px;
    padding: 6px 22px 8px;
    border-radius: 2px;
    background-color: $main;


    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: $text-secod;
  }

  &__descr {
    width: 610px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $services-descr;
  }

  &__hr {
    margin-top: 57px;
    width: 100%;
    height: 1px;
  }

  &__h2 {
    display: block;
    margin: 0 auto;
    width: auto;
    margin-top: 88px;
    font-family: MyriadPro;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $services-h3;
  }

  &__service-wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;


  }

  &__service-block {
    width: 300px;

    img {
      width: inherit;
      height: 220px;
      object-fit: cover;
    }
  }

  &__service-block-news {
    width: 400px;

    img {
      width: inherit;
      height: 266px;
      object-fit: cover;
    }
  }

  &__service-name {
    width: inherit;
    margin-top: 14px;
    font-family: MyriadPro;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: $services-h3;
    text-transform: uppercase;
  }

  &__service-descr {
    width: inherit;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $services-descr;
  }

  &__service-like {
    width: inherit;
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 15px;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: $like;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      svg path {
        fill: red;

      }
    }
  }
}
