* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */

}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.eot');
  src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
    url('../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Bold.eot');
  src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
    url('../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Cond.eot');
  src: local('Myriad Pro Condensed'), local('MyriadPro-Cond'),
    url('../fonts/MyriadPro/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadPro-Cond.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-LightCond.eot');
  src: local('Myriad Pro Light Condensed'), local('MyriadPro-LightCond'),
    url('../fonts/MyriadPro/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadPro-LightCond.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-LightCond.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;

}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes heartBeat {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04);
  }

  to {
    transform: scale(1);
  }
}

mark {
  background: $mark;
}

.search {
  &__div {
    position: relative;
    align-self: center;
  }

  position: absolute;
  z-index: 35;
  background: rgb(255, 255, 255);
  width: 186px;
  height: 350px;
  overflow: scroll;

  // border: 2px solid black;
  &__items {
    list-style-type: square;

    a {
      color: black;

      &:hover {
        // text-decoration: none;
        color: $main;
      }
    }
  }
}


// .searchItems {
//   input {

//     &:active,
//     &:hover,
//     &:focus {
//       outline: 0;
//       outline-offset: 0;
//     }
//   }
// }
