@media (max-width: 1400px) {
  #search-form {
    input {
      width: 120px;
    }
  }

  .search {
    width: 120px;
  }

  .services__service-popup {
    // width: 1150px;
    overflow: scroll;
  }

  .head {

    &__menu-item {
      a {
        margin: 0 10px 0 10px;
      }
    }

    &__search {
      margin-left: 10px;
    }
  }

  .intro__descr-wrapper {
    margin-top: 35px;
  }

  .services__h2 {
    margin-top: 15px;
  }

  .certificates__wrapper {
    justify-content: space-evenly;
  }
}

@media (max-width: 1200px) {
  // .services__service-popup {
  //   width: 950px;
  // }

  .head {

    &__logo {
      display: none;
    }

    &__menu {
      padding-left: 0.1rem;
    }

    &__menu-item {
      a {
        margin: 0 6px 0 6px;
      }
    }

    &__search {
      margin-left: 0px;
    }
  }

  .services__h2 {
    margin-top: 7px;
    font-size: 41px;
  }

  .intro {
    &__descr-wrapper {
      margin-top: 50px;

    }

    &__about-descr {
      line-height: 1.4;
      font-size: 18px;
    }
  }


  // #head__logo-middle {
  //   display: block;
  // }

}

@media (max-width: 992px) {
  // .services__service-popup {
  //   width: 750px;
  // }

  .accordion__element {
    width: auto;
  }

  .head {

    &__menu-item-wrapper {
      display: none;

      &:hover {
        border: none;
        background-color: inherit;

        &:after {
          content: none;
        }
      }
    }


    &__search {
      display: block; //There
      margin-left: 60px;
    }
  }

  .hamburger {
    display: block;

  }

  .service-wrapper-justyfy {
    justify-content: center;
  }

  .services__service-block-news {
    width: 500px;
  }

  .services__service-block-news img {
    height: 300px;
  }

  // .intro {
  //   &__slider {
  //     width: 734px;
  //     margin-left: -367px;
  //   }
  // }
  .intro {
    &__about-descr {
      span {
        display: none;
      }
    }

    &__descr {
      width: 100%;
    }

    &__about-descr {
      line-height: 1.57;
      font-size: 19px;
    }

    &__about-element {
      &:first-child {
        display: none;
      }
    }

    &__slider {
      margin-top: 46px;
    }
  }

  .services {
    &__slider-h2 {
      font-size: 37px;
      margin-top: 45px;
    }

    &__h2 {
      margin-top: 50px;
    }
  }

}

@media (max-width: 768px) {
  // .services__service-popup {
  //   width: 650px;
  // }

  .slider-bg__arow-left {
    width: 32px;
    height: 73px;
  }

  .slider-bg__arow-right {
    width: 32px;
    height: 73px;
  }

  .services {
    &__service-wrapper {
      justify-content: center;
    }

    &__h2 {
      margin-top: 6px;
    }

    &__h3 {
      width: 100%;
      font-size: 31px;
      text-align: center;
    }

    &__wrapper {
      align-items: center;
    }

    &__button {
      width: 258px;
      height: 58px;
      font-size: 17px;
      font-weight: bold;
    }

    &__works {
      flex-direction: column;
    }

    &__descr {
      margin-top: 25px;
      width: 100%;
    }
  }

}

@media (max-width: 670px) {
  // .services__service-popup {
  //   width: 530px;
  // }

  .certificates__close {
    top: 164px;
    transform: translateX(242px);
  }

  .footer {
    &__descr {
      width: auto;
    }

    &__descr-span {
      width: auto;
    }

    &__sotial {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 560px) {
  .services {
    &__service-block-news {
      width: 420px;
    }

    &__h2 {
      font-size: 29px;
      margin-top: 14px;
      font-weight: 400;
    }
  }

  .intro__h1 {
    font-size: 47px;
  }
}

@media (max-width: 511px) {
  .certificates__close {
    display: none;
  }
}

@media (max-width: 490px) {
  .accordion {
    &__heading {
      font-size: 22px;
      height: 66px;
      padding: 6px 15px 0 15px;
      margin: 5px 0 5px 0;
    }
  }
}


@media (max-width: 468px) {


  .services__service-block-news {
    width: 370px;
  }




  // #head__logo-middle {
  //   display: none;
  // }

  // #head__logo-small {
  //   display: block;
  // }
}

@media (max-width: 400px) {
  #search-form {
    input {
      width: 80px;
    }
  }

  .search {
    width: 80px;
  }

  .hiddenmenu {
    &__block {
      width: 293px;
      padding-left: 33px;
    }

    &__link {
      font-size: 23px;
    }
  }

  .certificates__imgSmall {
    width: 300px;
  }

  .services {
    &__service-block {
      width: 280px;
    }

    &__service-block-news {
      width: 300px;
    }

    &__h2 {
      font-size: 22px;
    }
  }

  .head__menu-link {
    font-size: 11px;
  }

  .footer__sotial {
    width: 166px;
  }

  .head__logo-name {
    font-size: 34px;
  }

  .intro {
    &__descr {
      font-size: 21px;
    }

    &__about-descr {
      font-size: 17px;
      line-height: 1.45;
    }

    &__h1 {
      font-size: 36px;
    }
  }
}
