$background-header: #000;
$main: #3055f6;
$main-menu-hover: rgba(255, 255, 255, 0.26);
$text-main: rgba(255, 255, 255, 0.6);
$text-hover: #fff;

// :root {
//   // --slider-margin-left: 0;
//   // --slider-width: 0%;
// }
