$background-header: #000;
$main: #3055f6;
$main-menu-hover: rgba(255, 255, 255, 0.26);
$text-main: rgba(255, 255, 255, 0.6);
$text-hover: #fff;
$text-secod: #fff;
// $text-shadow: rgb(0 0 0 / 10%);
$footer-bg: #3054f68a;
$footer-menu-bg: $background-header;
$border-color: $main;
$slider-arrow: #fff;
// $like: #adadad;
$services-h3: #333;
$services-descr: #666;
// :root {
//   // --slider-margin-left: 0;
//   // --slider-width: 0%;
// }
